/* main.html */
.role-btn {
  height: 150px;
  width: 60%;
}

.role-glyph {
  font-size: 5em;
}

/* candidateForm.html */

#candidate-form-container {
  margin-bottom: 5%;
}

#thumbnail-preview-area {
  margin: 20px auto;
}

.camera-capture {
  margin: -10% auto;
  width: auto;
}

.camera-glyph {
  font-size: 3em;
  text-align: center;
}

.resumeImageLabel {
  border-radius: 15%;
}

.resumeImage {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.resumeImage + label {
    /*max-width: 80%;*/
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.8rem 1.25rem;
    margin-right: 20px;
}

.resumeImage:focus + label,
.resumeImage.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.resumeImage + label {
    color: #f1e5e6;
    background-color: #d3394c;
}

.resumeImage:focus + label,
.resumeImage.has-focus + label,
.resumeImage + label:hover {
    background-color: #722040;
}

/*view candidates page*/
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 20%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    left: 0;
    background-color: #0072CF; /* Blue*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s
}

.sidenav #candidate-search-bar {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.search-form {
    border-radius: 30px 0px 0px 30px;
}

.search-btn {
    border-radius: 0px 30px 30px 0px;
    cursor:pointer;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
