/* main.html */
.role-btn {
  width: 60%;
  height: 150px;
}

.role-glyph {
  font-size: 5em;
}

/* candidateForm.html */
#candidate-form-container {
  margin-bottom:5%;
}

#thumbnail-preview-area {
  margin: 20px auto;
}

.camera-capture {
  margin: auto;
  width: auto;
}

.camera-glyph {
  font-size: 3em;
}

.resumeImageLabel {
  border-radius: 15%;
}

.resumeImage {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.resumeImage + label {
    /*max-width: 80%;*/
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.8rem 1.25rem;
    margin-right: 20px;
}

.resumeImage:focus + label,
.resumeImage.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}


.resumeImage + label {
    color: #f1e5e6;
    background-color: #d3394c;
}

.resumeImage:focus + label,
.resumeImage.has-focus + label,
.resumeImage + label:hover {
    background-color: #722040;
}

/* Recruiter form styles */
#candidate-queue {

}

button.candidate-queue-person {
  margin-top: 7px;
  margin-bottom: 7px;

}
