#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    margin-top: -20px;
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    height: 280%;
    margin-left: -250px;
    overflow-y: auto;
    background: #F8F8F8;
    border-right: 1px solid #F1F1F1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}


.sidebarHeader {
    text-align: center;
    font-size: 105%;
    margin-top: 20px;
    margin-left: -35px;
}

.sidebar-nav li > .input-group {
    margin: 10px 10px;
}

.sidebar-nav li > .input-group > input{
    border-radius: 5px;
}

.sidebar-nav li > .input-group > span {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sidebar-nav li a {
    text-indent: 20px;
    line-height: 40px;
    display: block;
    text-decoration: none;
    color: #777;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #F1F1F1;
    background: #007BAA;
}

.form-control:focus {
    border: 1px #C1C1C1 solid;
    box-shadow: 0 0 10px #F1F1F1;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 40px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #777;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #777;
    background: none;
}

#candidate-list {
  list-style: none;
  padding: 0;
  margin-top: -5px
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.sortHeader {
    margin-left: 17px;
    font-size: 110%;
    color: #777;
}

.sortInput {
    width:auto;
    margin-left: 10px;
}

select {
    color: #999999!important;
    margin-top: 3px;
}

#candidate-list a {
    margin-left: -5px;
}

.align-glyphicon {
  float: right !important;
  margin-right: 70px;
  margin-top: 12.5px;
}

.yellow {
  color: #8a6d3b;
}

.red {
  color: #a94442;
}

.green {
  color: #3c763d;
}
