<div class="ui button" {{action 'toggle' 'sub-sidebar'}}>
	Menu
</div>
<div class="ui pushable segment component context">
	{{#ui-sidebar class="inverted menu left inline vertical" context=".component.context" id="sub-sidebar"}}
		{{#sidebar-menu-link sideBarId="sub-sidebar" routeName="index"}}Home{{/sidebar-menu-link}}
		{{#sidebar-menu-link sideBarId="sub-sidebar" routeName="test"}}Applicant Information{{/sidebar-menu-link}}
	{{/ui-sidebar}}
</div>
<div class="ui container">
	{{outlet}}
</div>
