<div class="container-fluid">
  <div class="row">
    <h1 class="text-center">Administrative Options</h1>
    <hr/>
  </div>

  <div class="row">
      <button type="button" class="btn btn-primary pull-right">Add new</span></button>
  </div>

  <div class="row admin-option-top-margin">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Active</th>
          <th>Type</th>
          <th>Form</th>
          <th>Version</th>
          <th>View</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="form in forms">
          <th scope="row">1</th>
          <td><i ng-show="form.active" class="btn btn-success glyphicon glyphicon-ok-sign"></i></td>
          <td>{{form.type}}</td>
          <td>{{form.form}}</td>
          <td>{{form.version}}</td>
          <td><i class="btn btn-warning glyphicon glyphicon-file"></i></td>
          <td><i class="btn btn-danger glyphicon glyphicon-trash"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
