<div id="sidebar-wrapper" ng-controller="SidebarCtrl">
  <ul class="sidebar-nav cal-sidebar">
      <li class="sidebar-brand">
          <a style="margin-top:15px;">
              Candidates to schedule:
          </a>
      </li>
      <li>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" aria-describedby="sizing-addon2" ng-model="searchText">
          <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-search"></span></span>
        </div>
      </li>
      <ul id="candidate-list" ng-repeat="candidate in candidateQueue | filter:search as results">
        <li>
          <a href="">{{ candidate.lastName }}, {{ candidate.firstName }} &nbsp;<span class="glyphicon glyphicon-remove red remove-candidate" ng-click="turndownCandidate(candidate)"></span></a>
        </li>
      </ul>
      <div ng-if="results.length == 0">
        <strong>No candidates found... Queue Empty</strong>
      </div>
  </ul>
</div>