<div class="container">
  <div id="mySidenav" class="sidenav">
    <div class="search-group">
        <input id="candidate-search-bar" type="text" class="form-control search-form" placeholder="Search">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary search-btn" data-target="#search-form">
            <i class="glyphicon glyphicon-search"></i>
					</button>
        </span>
    </div>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>

  <div id="candidate-data-content">

  </div>
</div>
