<div class="text-center">
  <div class="page-header">
    <h1 id="title">Add Candidate</h1>
  </div>

  <div id="candidate-form-container" class="container">
    <div class="row">
      <div class="col-md-12">
        <form name="candidateForm" class="text-left">
          <!-- Common Form Elements -->
          <div ng-include src="'views/candidateFormCommon.html'"></div>

          <div class="form-group">
            <label class="control-label" for="finalEvaluation">Evaluation:</label>
            <div class="radio">
              <label class="radio-inline">
              <input type="radio" name="finalEvaluation" ng-model="postCandidate.finalEvaluation" value="invite" required>Invite to 1st Round Interviews</label>
              <label class="radio-inline">
              <input type="radio" name="finalEvaluation" ng-model="postCandidate.finalEvaluation" value="tentative" required>Tentative</label>
              <label class="radio-inline">
              <input type="radio" name="finalEvaluation" ng-model="postCandidate.finalEvaluation" value="turndown" required>Turndown</label>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">Notes</label>
            <textarea class="form-control" rows="3" ng-model="postCandidate.notes" required></textarea>
          </div>

          <div class="form-group">
            <label class="control-label">Screener Initials</label>
            <input class="form-control" type="text" ng-model="postCandidate.screenerInitials" required>
          </div>

          <div id="image-preview-div" class="text-center">
            <div id="thumbnail-preview-area" ng-show="pictureAdded">
              <img ng-src="{{postCandidate.resumeBase64}}" width="300" height="400" />
            </div>

            <div id="puzzle-preview-area" ng-show="pictureAdded">
              <img style="border: 1px solid black;" ng-src="{{postCandidate.puzzleBase64}}" width="300" height="400" />
            </div>
          </div>

          <div class="text-center">
            <span class="glyphicon glyphicon-refresh" ng-show="sendingData" aria-hidden="true"></span>
            <span class="glyphicon-class" ng-show="sendingData"></span>
            <button type="submit submitBtn" ng-class="submitBtnClasses" data-ng-click="submit()" ng-disabled="candidateForm.$invalid">{{buttonText}}</button>
            <button type="submit" class="btn btn-warning">Cancel</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
