<div class="container">

  <img src="images/home-logo.png" alt="Amex Logo" id="amexLogo">

  <h2 id="slogan">Welcome to the American Express Campus Recruitment Tool!</h2>

  <!-- <div class="row">

    <div class="col-md-4">
      <div class="row text-center">
        <div>
          <a href="#/screener/candidateForm">
            <button type="button" class="role-btn btn btn-info"><span class="glyphicon glyphicon-user role-glyph"></span></button>
          </a>
        </div>
      </div>
      <div class="row text-center">
          Screener
      </div>
    </div>

    <div class="col-md-4">
      <div class="row text-center">
        <div>
          <a href="#/recruiter/recruiterHome">
            <button type="button" class="role-btn btn btn-success"><span class="glyphicon glyphicon-user role-glyph"></span></button>
          </a>
        </div>
      </div>
      <div class="row text-center">
          Recruiter
      </div>
    </div>

    <div class="col-md-4">
      <div class="row text-center">
        <div>
          <a href="#/interviewer/interviewerForm">
            <button type="button" class="role-btn btn btn-primary"><span class="glyphicon glyphicon-user role-glyph"></span></button>
          </a>
        </div>
      </div>
      <div class="row text-center">
          Interviewer
      </div>
    </div>
  </div> -->
</div>
