<div class="container">
  <div class="row">
    <div class="col-xs-12 input-group date" data-provide="datepicker">
        <input type="date" class="form-control" ng-model="date">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>
  </div>
  <hr/>
  <div ng-repeat="i in interviews">
    <div class="row interview-row-bottom-buffer">
      <a class="col-xs-12 btn btn-block btn-info" href="#">{{i.candidate.firstName}}, {{i.candidate.lastName}}</a>
    </div>
  </div>
</div>
