      <div class="row">
        <div class = "col-md-6 calChangeDate">
          <button
            class="btn btn-primary"
            mwl-date-modifier
            date="calendarDate"
            decrement="calendarView">
            Previous
          </button>


          <button
            class="btn btn-default"
            mwl-date-modifier
            date="calendarDate"
            set-to-today>
            Today
          </button>


          <button
            class="btn btn-primary"
            mwl-date-modifier
            date="calendarDate"
            increment="calendarView">
            Next
          </button>
        </div>
        <div class="btn-group pull-right calChangeView">
            <label class="btn btn-primary" ng-click="changeView('year')">Year</label>
            <label class="btn btn-primary" ng-click="changeView('month')">Month</label>
            <label class="btn btn-primary" ng-click="changeView('week')">Week</label>
            <label class="btn btn-primary" ng-click="changeView('day')">Day</label>
        </div>
      </div>
      <div>
        <mwl-calendar
          view="calendarView"
          view-date="calendarDate"
          events="events"
          view-title="calendarTitle"
          on-event-click="eventClicked(calendarEvent)"
          on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
          cell-is-open="true">
        </mwl-calendar>
      </div>
      <div style="margin-bottom:20px;">
      </div>

