<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Candidate List
            </a>
        </li>
        <li>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" aria-describedby="sizing-addon2">
            <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-search"></span></span>
          </div>
        </li>
        <ul id="candidate-list" data-ng-repeat="row in candidates">
          <li>
              <a <a href="#/viewCandidate/{{row.id}}">{{ row.name }}</a>
          </li>
        </ul>
    </ul>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="page-header">
      <h1 class="text-center">{{ candidate[0].name }}</h1>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th> Email </th>
          <th> Graduation Date </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> {{ candidate[0].email }} </td>
          <td> {{ candidate[0].graduationDate }} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
